<p id="notice"><%= notice %></p>

<p>
  <strong>Masx:</strong>
  <%= @sx.maSX %>
</p>

<p>
  <strong>Tenhangs:</strong>
  <%= @sx.tenHangs %>
</p>

<p>
  <strong>Quocgia:</strong>
  <%= @sx.quocGia %>
</p>

<%= link_to 'Edit', edit_sx_path(@sx) %> |
<%= link_to 'Back', sxes_path %>
