<p id="notice"><%= notice %></p>

<p>
  <strong>Mathuoc:</strong>
  <%= @thuoc.mathuoc %>
</p>

<p>
  <strong>Tenthuoc:</strong>
  <%= @thuoc.TenThuoc %>
</p>

<p>
  <strong>Mahangsx:</strong>
  <%= @thuoc.MaHangSX %>
</p>

<p>
  <strong>Mancc:</strong>
  <%= @thuoc.MaNCC %>
</p>

<p>
  <strong>Congdung:</strong>
  <%= @thuoc.CongDung %>
</p>

<p>
  <strong>Maloai:</strong>
  <%= @thuoc.MaLoai %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @thuoc.GhiChu %>
</p>

<%= link_to 'Edit', edit_thuoc_path(@thuoc) %> |
<%= link_to 'Back', thuocs_path %>
