<p id="notice"><%= notice %></p>

<p>
  <strong>Macc:</strong>
  <%= @ncc.macc %>
</p>

<p>
  <strong>Tenncc:</strong>
  <%= @ncc.tenncc %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @ncc.diachi %>
</p>

<p>
  <strong>Thongtin:</strong>
  <%= @ncc.thongtin %>
</p>

<%= link_to 'Edit', edit_ncc_path(@ncc) %> |
<%= link_to 'Back', nccs_path %>
